@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

@keyframes backgroundColor {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
@keyframes upDown {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(40px);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes scrolling {
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  25%{
    transform: translateY(10px);
    opacity: 0.5;
  }
  50%{
    ransform: translateY(18px);
    opacity: 1;
  }
  75%{
    transform: translateY(10px);
    opacity: 0.5;
  }
  100%{
    transform: translateY(0);
    opacity: 0;
  }
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
a{
  text-decoration: none;
  color: #333;
}
ul,li,ol{
  list-style: none;
}
img{
  width: 100%;
}
// body{
//   &::-webkit-scrollbar{
//     display: none;
//   }
// }
canvas{
  display: block;
}

.top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  width: 80px;
  height: 80px;
  cursor: pointer;
  &::after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 150;
    width: 80px;
    height: 80px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 80px;
    color: #fff;
    content: 'TOP';
  }
  &::before{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 110;
    width: 80px;
    height: 80px;
    background: url(./../img/icon_top.png) no-repeat 0 0;
    background-size: cover;
    content: '';
    animation: rotate 5s linear infinite;
  }
}
.section{
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  &:first-child{
    background: rgb(131,58,180);
    background: linear-gradient(142deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 18%, rgba(252,176,69,1) 30%, rgba(139,200,245,1) 42%, rgba(158,171,251,1) 54%, rgba(99,112,191,1) 65%, rgba(159,99,191,1) 86%, rgba(214,27,84,1) 99%);
    background-size: 400% 400%;
    position: relative;
    color: #fff;
    animation: backgroundColor 20s ease-in-out infinite;
  }
  &:nth-child(2){
    background-color: #b5e0e7;
    background: url(./../img/image01.jpg) no-repeat 0 0;
    background-size: cover;
    background-attachment: fixed;
    &::after{
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(./../img/wave-haikei.png) no-repeat 0 0;
      background-size: cover;
      content: '';
    }
  }
  &:nth-child(4){
    background-color: rgba(139,200,245,1);
    overflow: hidden;
    &::after{
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(./../img/wave-haikei2.png) no-repeat 0 0;
      background-size: cover;
      content: '';
    }
  }
  &.motion{
    p{
      position: absolute;
      top: 45%;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 35px;
      color: #fff;
    }
  }
}
.bg1{
  background-attachment: fixed;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.name-input{
  display: none;
  padding: 7px 5px;
  min-width: 300px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-size: 22px;
  color: #fff;
  text-align: center;
  &::placeholder{
    color: #fff;
  }
  &:focus{
    outline: none;
  }
  &.active{
    display: block;
  }
}
.message{
  display: none;
  &.active{
    display: block;
  }
  h1{
  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;
  }
}
.text{
  &-box{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    animation: upDown 2s ease-in-out infinite;
    p{
      padding-top: 70px;
      font-size: 35px;
      color: #fff;
      &:first-child{
        padding-top: 0;
      }
    }
  }
}
.scroll{
  position: absolute;
  bottom: 70px;
  animation: scrolling 2.5s linear infinite;
  p{
    font-size: 14px;
    margin-top: 3px;
  }
}
#sw-js-blob-svg{
  width: 100%;
  height: 100vh;
  background-color:#979cea;
}
.svg{
  &-text{
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 22px;
    line-height: 1.5;
    font-family: 'Libre Baskerville', serif;
    color: #fff;
  }
}
.cursor{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,0.7);
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.circle-click{
  padding: 20px;
  width: 0;
  height: 0;
  background: rgb(252,240,255);
  background: linear-gradient(142deg, rgba(252,240,255,1) 3%, rgba(195,193,255,1) 50%, rgba(177,242,255,1) 100%);
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
  font-size: 28px;
  overflow: hidden;
}



